.md-header__button.md-logo img, .md-header__button.md-logo png {
    height: 2.4rem;
    width: 2.4rem;
}
.md-header__title {
    margin-left: 0 !important;
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
}